html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
    background-color: #EFF6E0;
}

header {
    padding: 30px;
    background-color: #124559;
    display: flex;
    align-items: center;
    margin: 0;
}

header img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* forzare altezza */
    background-color: #01161E;
    display: flex;
}

nav {
    margin: 0;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav li a:hover {
    background-color: #022533;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px 20px;
    border-width: 1px;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 10px;
}

button {
    color: white;
    background-color: #01161E;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

div {
    border-radius: 10px;
    background-color: #AEC3B0;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: black;
}

#signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.logo {
    height: auto;
    width: 200px;
    position: relative;
    display: flex;
}
